*
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

h1
{
	font-size: 34px;
	color: #00458b0;
	text-align: center;
	margin-top: 42px;
}

h2
{
	font-size: 30px;
}

h3
{
	font-size: 28px;
}

p
{
	font-size: 22px;
}

body 
{
	background-color: #f4f4f4;
}

.navbar
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to right, #005fa4, #00458b);
}

li.nav-item
{
	border-right: solid 3px white;
	margin: 5px;
	padding: 8px 0px;
	padding-right: 10px;
	display: inline-block;
}

a.nav-link
{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: all 0.2s ease;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.nav-item a:hover 
{
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
}

ul.nav
{
	margin: 0;
	padding: 10px 0;
	list-style-type: none;
	text-align: center;
}

.logo img
{
	height: 125px;
	padding-left: 20px;
}

.search-input
{
	width: 250px;
	height: 40px;
	padding: 0 15px;
	border-radius: 15px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.15);
	color: white;
	font-size: 16px;
	transition: all 0.3 ease;
}

.search-input::placeholder
{
	color: rgba(255, 255, 255, 0.7);
}

.container
{
	display: flex;
	gap: 30px;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}

.card
{
	width: calc(33.33% - 20px);
	min-width: 300px;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: transform 0.2s;
}

.card:hover
{
	transform: translateY(-5px);
}

.card a
{
	text-decoration: none;
	display: block;
	color: black;
}

.card img
{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.Hotel
{
	display: flex;
	justify-content: flex-start;
	
	gap: 40px;
	max-width: 1200px;
	margin: 30px auto;
	padding: 20px;
}

.info
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 500px;
	flex: 1;
	text-align: left;
}

.gallery
{
	flex: 0 0 60%;
	max-width: 60%;
	margin: 0;
}

.main-img img 
{
	width: 100%;
	height: 450px;
	object-fit: cover;
	border-radius: 8px;
}

.photos
{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}

.photos img
{
	width: 95px;
	height: 70px;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.3s;
}

.photo img:hover 
{
	opacity: 0.7;
	transform: scale(1.05);
}

.fa-solid
{
	width: 30px;
	text-align: center;
	margin-right: 15px;
	margin-top: 5px;
	font-size: 24px;
}

.info ul 
{
	font-size: 20px;
	padding-right: 50px;
}

.blue
{
	color: #00458b;
}

.footer 
{
	background: linear-gradient(to right, #005fa4, #00458b);
	color: white;
	padding: 50px 0 20px 0;
	margin-top: 60px;
}

.f-container
{
	display: flex;
	justify-content: space-between;
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 50px;
	align-items: flex-start;
}

.f-column
{
	flex: 1;
	color: white;
}

.f-column h3
{
	font-size: 20px;
	border-bottom: 2px solide white;
	display: inline-block;
}

.f-column a
{
	font-size: 22px;
	color: white;
	text-decoration: none;
	opacity: 0.8;
	transition: 0.3s;
}

.f-column a:hover 
{
	opacity: 1;
	text-decoration: underline;
}

.social
{
	display: flex;
	gap: 20px;
	margin-top: 4px;
}

.bottom-logo
{
	width: 100px;
	margin-top: 10px;
	display: block;
}

.formreservation
{
	display: none;
	position: fixed;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(6px);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.buttonBook
{
	background: linear-gradient(135deg, #00458b 0% , #002d5b 100%);
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 13.3%;
	margin-top: auto;
	align-self: flex-start;
}

.book 
{
	background-color: white;
	max-resolution: 5% auto;
	padding: 30px;
	width: 90%;
	max-width: 450px;
	border-radius: 10px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
	position: relative;
	animation: slideDown 0.3s ease-out;
}

@keyframes slideDown
{
	from {transform:  translateY(-50px); opacity: 0;}
	to {transform:  translateY(0px); opacity: 1;}
}

.form span
{
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 30px;
	cursor: pointer;
	color: #f4f4f4;
}

.form h2
{
	color: #00458b;
	margin-bottom: 5px;
	text-align: center;
}

.reservation
{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.reservation input 
{
	padding: 12px;
	margin-top: 5px;
	border-radius: 8px;
	font-size: 16px;
}

.reservation label
{
	font-size: 24px;
}

.submit
{
	background-color: #03821a;
	color: white;
	padding: 20px;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5;
}

.submit:hover
{
	background-color: #e69a00;
}

.about 
{
	background: linear-gradient(rgba(0, 32, 96, 0.8),rgba(0, 32, 96, 0.8));
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	padding: 60px 20px;
}

.informaciq
{
	max-width: 1000px;
	margin: 40px auto;
	padding: 0 20px;
	color: #333333;
}

.contacti 
{
	max-width: 1000px;
	margin: 40px auto;
	padding: 0 20px;
	color: #333333;
}

.contacti-conteiner
{
	display: flex;
	gap: 30px;
}